<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title> {{ title }} {% block title %} {% endblock %}</title>
<!--    title bar css-->
    <link rel="icon" href="{% static 'image/fb.png' %}" type="image/x-icon">
<!--    label css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
<!--    fonts link -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
<!--    Custom CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
<!--    js script -->
    <script src="{% static 'js/main.js' %}" async></script>
</head>
<body>
{% include 'partials/navbar.html' %}

{% block content %}


{% endblock %}

{% include 'partials/footer.html' %}
</body>

</html>